.custom-text-video-block {
  position: relative;

  &.solid-background-color {
    &::before {
      background: inherit;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  blockquote,
  cite {
    color: inherit;
  }

  .card.img-bg {
    margin-bottom: 22px;
    @media (min-width: 768px) {
      min-height: 510px;
      margin-bottom: 44px;
    }
  }
  .img-wrap {
    img {
      height: 100%;
    }
    &::before {
      opacity: 0.43;
      background-color: #000000;
      z-index: 2;
    }
  }
  .link{
    margin-top: 20px;
  }
}
